@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: grid-template-columns 3s ease;
    overflow: hidden;
}

.container div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.div1{
    background-image: url('koy.jpg');
}

.div2{
    background-image: url('sehir.jpg');
}

.div1Baslik, .div2Baslik{
    color: #FFF8E7;
    margin-top: 10%;    
    text-shadow: 5px 5px 15px #F04A00;
    font-size: 30px;
    transition: font-size 2s ease;
}


.btn1, .btn2{
    text-decoration: none;
    color: #F04A00;
    background-color: #FFF8E7;
    padding: 5px 20px;
    border-radius: 10px;
    opacity: 0.7;
}

.btn1{
    transform: translateX(-6000px);
    transition: transform 5s ease;
}

.btn2{
    transform: translateX(6000px);
    transition: transform 2s ease;
}


.showFront{
    grid-template-columns: 3fr 1fr;
}


.showBack{
    grid-template-columns: 1fr 3fr;
}

.showFront .btn1, .showBack .btn2{
    transform: translateX(0px);
}


.buyuk{
    font-size: 80px;
}











